In [1]:
import pandas as pd
data = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data",sep=",",header=None)

data.columns = ["age","workclass","fnlwgt","education","education_num","marital_status",
"occupation","relationship","race","sex","capital_gain","capital_loss",                          #data read
"hours_per_week","native_country",'class']
data.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,class
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [8]:
from sqlalchemy import MetaData
meta = MetaData()
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String
engine = create_engine('sqlite:///memory', echo = True)
meta = MetaData()
                                                                                 #sqlalchemy engine created for the sample data
Adults = Table(
   'Adults', meta, 
   Column('age', Integer), 
   Column('workclass', String), 
   Column('fnlwgt', Integer),
   Column('education', String),
   Column('education_num', Integer),
   Column('marital_status', String),
   Column('occupation', String),
   Column('relationship', String),
   Column('race', String),
   Column('sex', String),
   Column('capital_gain', Integer),
   Column('capital_loss', Integer),
   Column('hours_per_week', Integer),
   Column('native_country', String),
   Column('class', String),
   
)
meta.create_all(engine)

2019-03-25 17:16:50,189 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-03-25 17:16:50,192 INFO sqlalchemy.engine.base.Engine ()
2019-03-25 17:16:50,195 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-03-25 17:16:50,198 INFO sqlalchemy.engine.base.Engine ()
2019-03-25 17:16:50,199 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Adults")
2019-03-25 17:16:50,200 INFO sqlalchemy.engine.base.Engine ()

In [ ]:
# creating sample data to perform operations given in 2,3,4,5 questions

In [5]:
import sqlalchemy
from sqlalchemy import create_engine
engine = create_engine('sqlite:///:memory:', echo=True)
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
from sqlalchemy import Column, Integer, String

In [8]:
class User(Base):
...     __tablename__ = 'users1'
...
...     id = Column(Integer, primary_key=True)
...     name = Column(String)
...     fullname = Column(String)
...     password = Column(String)
...
...     def __repr__(self):
...        return "<User(name='%s', fullname='%s', password='%s')>" % (
...                             self.name, self.fullname, self.password)

C:\Users\thanusha\Anaconda3\lib\site-packages\sqlalchemy\ext\declarative\clsregistry.py:120: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.User, and will be replaced in the string-lookup table.
  item.__name__

In [9]:
Base.metadata.create_all(engine)

2019-03-26 11:56:39,963 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-03-26 11:56:39,965 INFO sqlalchemy.engine.base.Engine ()
2019-03-26 11:56:39,967 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-03-26 11:56:39,969 INFO sqlalchemy.engine.base.Engine ()
2019-03-26 11:56:39,971 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")
2019-03-26 11:56:39,972 INFO sqlalchemy.engine.base.Engine ()
2019-03-26 11:56:39,974 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users1")
2019-03-26 11:56:39,976 INFO sqlalchemy.engine.base.Engine ()
2019-03-26 11:56:39,978 INFO sqlalchemy.engine.base.Engine
CREATE TABLE users (
	id INTEGER NOT NULL,
	name VARCHAR,
	fullname VARCHAR,
	password VARCHAR,
	PRIMARY KEY (id)
)


2019-03-26 11:56:39,980 INFO sqlalchemy.engine.base.Engine ()
2019-03-26 11:56:39,982 INFO sqlalchemy.engine.base.Engine COMMIT
2019-03-26 11:56:39,983 INFO sqlalchemy.engine.base.Engine
CREATE TABLE users1 (
	id INTEGER NOT NULL,
	name VARCHAR,
	fullname VARCHAR,
	password VARCHAR,
	PRIMARY KEY (id)
)


2019-03-26 11:56:39,985 INFO sqlalchemy.engine.base.Engine ()
2019-03-26 11:56:39,986 INFO sqlalchemy.engine.base.Engine COMMIT

In [ ]:
Base.metadata.create_all(engine)

In [11]:
from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind=engine)
Session = sessionmaker()
Session.configure(bind=engine)                                                  
session = Session()
ed_user = User(name='ed', fullname='Ed Jones', password='edspassword')

In [ ]:
# 2 update query

In [ ]:
session.add(ed_user)       #using add to update the table

In [40]:
session.query(User).filter(ed_user.name == "ed").update({'fullname': 'Edjones'})      # using update on query to update the fullname

2019-03-26 14:19:15,441 INFO sqlalchemy.engine.base.Engine UPDATE users1 SET fullname=? WHERE 1
2019-03-26 14:19:15,443 INFO sqlalchemy.engine.base.Engine ('Edjones',)

4

In [12]:
#using add_all to update multiple records

In [13]:
session.add_all([
    User(name='wendy', fullname='Wendy Williams', password='foobar'),
     User(name='mary', fullname='Mary Contrary', password='xxg527'),
     User(name='fred', fullname='Fred Flinstone', password='blah')])

In [14]:
ed_user.password = 'f8s7ccs'

In [15]:
session.commit()

2019-03-26 12:57:18,012 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-03-26 12:57:18,017 INFO sqlalchemy.engine.base.Engine INSERT INTO users1 (name, fullname, password) VALUES (?, ?, ?)
2019-03-26 12:57:18,018 INFO sqlalchemy.engine.base.Engine ('ed', 'Ed Jones', 'f8s7ccs')
2019-03-26 12:57:18,020 INFO sqlalchemy.engine.base.Engine INSERT INTO users1 (name, fullname, password) VALUES (?, ?, ?)
2019-03-26 12:57:18,022 INFO sqlalchemy.engine.base.Engine ('wendy', 'Wendy Williams', 'foobar')
2019-03-26 12:57:18,023 INFO sqlalchemy.engine.base.Engine INSERT INTO users1 (name, fullname, password) VALUES (?, ?, ?)
2019-03-26 12:57:18,025 INFO sqlalchemy.engine.base.Engine ('mary', 'Mary Contrary', 'xxg527')
2019-03-26 12:57:18,026 INFO sqlalchemy.engine.base.Engine INSERT INTO users1 (name, fullname, password) VALUES (?, ?, ?)
2019-03-26 12:57:18,027 INFO sqlalchemy.engine.base.Engine ('fred', 'Fred Flinstone', 'blah')
2019-03-26 12:57:18,029 INFO sqlalchemy.engine.base.Engine COMMIT

In [ ]:
# 3 delete query

In [17]:
fake_user = User(name='fakeuser', fullname='Invalid', password='12345')
session.add(fake_user)

In [18]:
session.rollback()                  #using session rollback to delete the previous transactions

In [19]:
fake_user in session

False

In [21]:
fake_user = User(name='fakeuser', fullname='Invalid', password='12345')
session.add(fake_user)

In [30]:

d = session.query(User).filter(User.name =="fakeuser")                    # delete using a delete query using it in session object
d.delete()

2019-03-26 13:33:19,790 INFO sqlalchemy.engine.base.Engine SELECT users1.id AS users1_id, users1.name AS users1_name, users1.fullname AS users1_fullname, users1.password AS users1_password
FROM users1
WHERE users1.id = ?
2019-03-26 13:33:19,791 INFO sqlalchemy.engine.base.Engine (1,)
2019-03-26 13:33:19,795 INFO sqlalchemy.engine.base.Engine DELETE FROM users1 WHERE users1.name = ?
2019-03-26 13:33:19,797 INFO sqlalchemy.engine.base.Engine ('fakeuser',)

0

In [31]:
fake_user in session

False

In [32]:
#4 filter
for user in session.query(User).\
          filter(User.name=='ed').\
         filter(User.fullname=='Ed Jones'):                             # using filter to display required record
   print(user)

2019-03-26 13:35:07,575 INFO sqlalchemy.engine.base.Engine SELECT users1.id AS users1_id, users1.name AS users1_name, users1.fullname AS users1_fullname, users1.password AS users1_password
FROM users1
WHERE users1.name = ? AND users1.fullname = ?
2019-03-26 13:35:07,577 INFO sqlalchemy.engine.base.Engine ('ed', 'Ed Jones')
<User(name='ed', fullname='Ed Jones', password='f8s7ccs')>

In [33]:
session.query(User).filter(User.name.like('%ed')).count()    # to see how many rows would sql statement with given filter condition would return

2019-03-26 14:02:21,742 INFO sqlalchemy.engine.base.Engine SELECT count(*) AS count_1
FROM (SELECT users1.id AS users1_id, users1.name AS users1_name, users1.fullname AS users1_fullname, users1.password AS users1_password
FROM users1
WHERE users1.name LIKE ?) AS anon_1
2019-03-26 14:02:21,744 INFO sqlalchemy.engine.base.Engine ('%ed',)

2

In [35]:
# 5 functions
from sqlalchemy import func                                                  #count of user names
session.query(func.count(User.name), User.name).group_by(User.name).all()

2019-03-26 14:05:33,228 INFO sqlalchemy.engine.base.Engine SELECT count(users1.name) AS count_1, users1.name AS users1_name
FROM users1 GROUP BY users1.name
2019-03-26 14:05:33,230 INFO sqlalchemy.engine.base.Engine ()

[(1, 'ed'), (1, 'fred'), (1, 'mary'), (1, 'wendy')]

In [36]:
session.query(func.count('*')).select_from(User).scalar()          # simple select statement

2019-03-26 14:07:54,046 INFO sqlalchemy.engine.base.Engine SELECT count(?) AS count_1
FROM users1
2019-03-26 14:07:54,047 INFO sqlalchemy.engine.base.Engine ('*',)

4